absl-py==0.12.0
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
audeer==1.14.0
audiofile==0.4.2
audioread==2.1.9
cached-property==1.5.2
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
dm-sonnet==2.0.0
dm-tree==0.1.6
filelock==3.0.12
flatbuffers==1.12
gast==0.4.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.16
grpcio==1.34.1
h5py==3.1.0
huggingface-hub==0.0.8
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==4.0.1
joblib==1.0.1
kapre==0.1.7
keract==4.4.0
Keras==2.4.3
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keras-vggface @ git+https://github.com/rcmalli/keras-vggface.git@719ad75625fe51436b9a9479114b3d136847e11a
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.36.0
Markdown==3.3.4
matplotlib==3.3.4
moviepy==1.0.3
mtcnn==0.1.0
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.0
onnx==1.9.0
onnx-tf==1.8.0
onnx2keras==0.0.24
opencv-python==4.5.2.52
opensmile==2.0.2
opt-einsum==3.3.0
packaging==20.9
pandas==0.25.3
Pillow==8.2.0
pooch==1.3.0
proglog==0.1.9
protobuf==3.17.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
SoundFile==0.10.3.post1
sox==1.4.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-addons==0.13.0
tensorflow-docs===0.0.064649d8a280653b091630f904d00a32027cab157-
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow-lattice==2.0.8
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.10.2
tqdm==4.60.0
transformers==4.6.0
typeguard==2.12.0
typing-extensions==3.7.4.3
UNKNOWN @ git+https://github.com/shaoanlu/face_toolbox_keras.git@ffc355d53f1db3c245861c92550f610f900b8389
urllib3==1.26.4
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.4.1
